@charset "utf-8";
*
{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	
	
}

body
{
	background-color:#000;
	background-image:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	font-family:Arial, Helvetica, sans-serif;
	direction: rtl;	
	text-align: justify;
}


/*-------------------------------adress----------------------------------------*/
.main
{
	background-color:rgba(255, 255, 255, .9);
	color:rgb(54, 54, 54);
	padding:10px;
	font-size: 20px;
	text-align:center;
	direction: rtl;
	box-shadow: 0px 1px 10px #999999;
	width:100%;
	margin:auto;
}

/*-------------------------------gallery----------------------------------------*/

.cycle-slideshow
{
	display:block;
	position:relative;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	border-radius: 8px;
	box-shadow: 5px 1px 10px #999999;
	width:100%;
	max-width:100%;
	float:left;
}

.cycle-prev,.cycle-next
{
	font-size:200%;
	color:rgb(82, 82, 82);
	display:block;
	position:absolute;
	top:50%;
	z-index:999;
	cursor:pointer;
}

.cycle-prev{left:2%;direction: ltr;}
.cycle-next{right:2%;direction: ltr;}

.cycle-pager
{
	width:100%;
	position:absolute;
	text-align:center;
	z-index:998;
	bottom:10px;
}

.cycle-pager span
{
	cursor:pointer;
	width:15pX;
	height:15px;
	border: 1px solid rgb(82, 82, 82);
	border-radius:50%;
	display:inline-block;
	margin: 0 5px;
	text-indent:10000%;
	white-space:nowrap;

}

.cycle-pager .cycle-pager-active
{
	background-color:white;

}

.cycle-slideshow img
{
	max-width:100%;
	width:100%;
	height:100%;
}

/*-------------------------------menu----------------------------------------*/
.dropdown {
	position: relative;
	display: inline-block;
	width:100%;
  }

.dropbtn {
	background-color: rgb(82, 82, 82,.9);
	color: white;
	padding: 8px;
	font-size: 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	width:100%;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
	background-color: rgb(82, 82, 82,.9);
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color:rgba(255, 255, 255, 1);
	min-width: 160px;
	overflow: auto;
	box-shadow: 5px 1px 10px #999999;
	z-index: 1;
	width:100%;
	margin:auto;
	border-radius: 8px;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}

/*-------------------------------content----------------------------------------*/
.page a
{
text-decoration:none;
color:rgb(16, 85, 177);
}

.page 
{
text-align:left;	
}

.post
{
	width:70%;
	float:left;	
	background-color:rgba(255, 255, 255, 0.5);
	box-shadow: 5px 1px 10px #999999;
}
.post article
{
	text-align: justify;	
	margin:10px;
}

h3
{
		color:#FFF;

}
.post article header
{
	background:rgb(82, 82, 82,.9);
	padding:10px;
	border-radius: 8px;
	box-shadow: 0px 1px 10px #999999;
}

.post article section
{
	background:rgba(255,255,255,0.9);
	padding:10px;	
	border-radius: 8px;
	box-shadow: 5px 1px 10px #999999;
	font-size: 20px;

}

.post article section form 
{
	width:100%;
	box-shadow: 0px 1px 10px #999999;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	text-align:right;
}

.post article section form input
{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
.post article section form textarea
{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
  
  .post article section form button
{
	background-color:rgb(82, 82, 82,.9);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.post article section form button:hover 
{
	background-color: rgb(82, 82, 82,.9);
}
/*-------------------------------aside----------------------------------------*/

aside
{
	width:30%;
	float:right;
}

aside section
{
	background:rgba(225,241,247,0.2);
	margin: 10px;
	padding:10px;
	border-radius:3px;
}

aside section img
{
	width:100%;
	height:100%;
	margin:auto;
}

aside section video
{
	width:100%;
	height:100%;
	margin:auto;
}

aside section p
{
	margin: 10px;
	padding:10px;
	display:block;
	position:relative;
	margin:0 auto;
	border-radius: 8px;
	box-shadow: 0px 1px 10px #999999;
	background:rgba(255,255,255,0.9);
	width:100%;
	height:100%;
	max-width:100%;
}

.text ,.texts{
	font-size: 20px;
	margin:5px;
  }
  .moreText,.moreTexts{
	display: none;
  }
  .text.show-more .moreText, .texts.show-more .moreTexts{
	display: inline;
  }
  .dots,.dotss{
	display: inline-block;
  }
  .text.show-more .dots,.texts.show-more .dotss{
	display: none;
  }


  aside section p button , .readMoreBtns
  {
	padding: 1px 10px;
	background-color: whitesmoke;
	color:rgb(55, 57, 138);
	box-shadow: 0px 1px 10px #999999;
	border: none;
	outline: none;
	border-radius: 8px;
	font-size: 20px;
	cursor: pointer;
  }

  aside section p button:hover
  {
	  background:#FFF;
  }

/*-------------------------------footer----------------------------------------*/

.clearfix
{
	clear:both;
	
}
footer
{
	background:rgb(82, 82, 82,.9);
	color:#FFF;
	text-align:center;
	padding:10px;	
}
