*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	direction: rtl;	
	text-align:right;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color:#000;
	background-image:url(bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
}
.container{
  max-width: 400px;
  width: 90%;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000020;
  border-radius: 8px;
  background-color: white;
}
.step{
  display: none;
}
.step.active{
  display: block;
}
.form-group{
  width: 100%;
  margin-top:20px;
}
.form-group input{
  width: 100%;
  border: 1.5px solid rgba(128, 128, 128, 0.418);
  padding: 5px;
  font-size: 18px;
  margin-top: 5px ;
  border-radius: 4px;
}

.add{
  float: left;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color:rgb(180, 220, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 18px;
  cursor: pointer;
}

